* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e8f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 420px;
}

.login-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #0b78a6;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #0b78a6;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #b7dbea;
    border-radius: 6px;
    font-size: 14px;
}

.btn {
    width: 100%;
    background: #0b78a6;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover {
    background: #095c80;
}

.small-text {
    margin-top: 15px;
    font-size: 14px;
}

.small-text a {
    color: #0b78a6;
    font-weight: 600;
    text-decoration: none;
}
